* {
  box-sizing: border-box;
}

html {
  font-size: 13.333px;
  margin: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #828282;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

#logout {
  text-transform: lowercase;
}

.separator:after {
  content: " |";
  pointer-events: none;
}

button {
  cursor: pointer;
}

abbr {
  outline: none;
  text-decoration: none !important;
}

.sr-only,
hr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


/* ///// */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1rem;
  color: #828282;
  margin: 0 auto;
}

body > header {
  background: #FF6600;
  color: #000;
  padding: 0.15rem 0.45rem 0.15rem 0.15rem;
  display: block;
  width: 100%;
  align-items: center;
  line-height: 1.4rem;
}

body > header h1 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body > header h1 > a {
  display: inline-flex;
  margin: 0;
  flex-direction: row-reverse;
  white-space: nowrap;
  align-items: center;
  margin-right: 0.73rem;
}

body > header h1 img {
  display: inline-block;
  vertical-align: middle;
  height: 1.350rem;
  width: 1.350rem;
  border: 1px solid #fff;
  margin-right: 0.3rem;
  box-sizing: content-box;
}

body > header > nav {
  flex-grow: 3;
  align-self: center;
}

body > header > nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body > header > nav li {
  display: inline;
}

body > header > aside > p {
  margin: 0;
  text-align: right;
}

body > header a,
body > header a:link,
body > header a:visited {
  color: #000;
}

body > header a:hover,
body > header a:active,
body > header a:focus {
  color: #fff;
  text-decoration: none;
}


body > footer {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  background-color: #F6F6EF;
  padding: 1.25rem 0 1rem 0;
}

body > footer > ul {
  list-style: none;
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0.8rem;
}

body > footer > ul > li {
  display: inline;
}

body > footer a,
body > footer a:link,
body > footer a:visited {
  color: #000;
}

body > footer > form {
  margin-top: 1.2rem;
}

body > footer > form input {
  width: 10.954rem;
  height: 1.576rem;
}


/** ////////// **/

.articles {
  background: #F6F6EF;
  padding: 0.73rem 0.65rem 0.68rem 0rem;
  border-bottom: 2px solid#ff6600;
}

.articles > article {
  margin-bottom: 0.375rem;
}

.articles > article > header {
  display: flex;
  align-items: flex-start;
}

.articles > article > header > h2 {
  margin: 0;
  font-size: 1.100rem;
  font-weight: normal;
  order: 3;
  padding-top: 0.15rem;
}

.articles > article > header > abbr,
.articles > article > header > button {
  padding-top: 0.10rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.articles > article > header > h2 a:link {
  color: #000;
}

.articles > article > header > h2 a:visited {
  color: #828282;
}

.articles > article .site-ref {
  font-size: 0.8rem;
}

.articles > article .site-ref > a:link,
.articles > article .site-ref > a:visited {
  color: #828282;
}

.articles > article > header > abbr {
  order: 1;
  cursor: default;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.100rem;
  width: 1.655rem;
  text-align: right;
}

.articles > article > header > button {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0 0 -0.150004rem 0;
  order: 2;
  display: flex;
}

.articles > article > header > button:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #999999;
  content: " ";
  display: inline;
  margin: 0.4rem 0.22rem;
}

.articles > article > header > button:hover:after {
  border-bottom-color: #000;
}

.articles > article > footer {
  padding: 0;
  font-size: 0.9005rem;
  margin-left: 2.7rem;
  margin-top: 0.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: nowrap;
}

.articles > article > footer a,
.articles > article > footer a:link,
.articles > article > footer a:visited {
  color: #828282;
}

.articles > article > footer > .score {
  order: 1;
}

.articles > article > footer > .by {
  order: 2;
}

.articles > article > footer > time {
  order: 3;
}

.articles > article > footer > .flag {
  order: 4;
  text-transform: lowercase;
}

.articles > article > footer > .hide {
  order: 5;
  text-transform: lowercase;
}

.articles > article > footer > .comments {
  order: 6;
}

.articles > article > footer > .score,
.articles > article > footer > .by,
.articles > article > footer > time,
.articles > article > footer > .flag,
.articles > article > footer > .hide,
.articles > article > footer > .comments {
  margin-right: 0.24rem;
}

.articles > p {
  margin: 1.25rem 0 0 2.7rem;
}

.articles > p > a:link,
.articles > p > a:visited {
  color: #828282;
}


@media (min-width: 768px) {
  body {
    padding: 0.6rem 0;
    width: 84%;
  }

  body > header {
    display: flex;
  }

  .articles > article > header > h2 {
    font-size: 1rem;
  }

  .articles > article > header > abbr {
    font-size: 1rem;
  }

  .articles > article > footer {
    font-size: 0.7rem;
  }

  .articles > article > header > button:after {
    border-left-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 8px;
  }
}
